/*
Company Name: Evil Corp
Programmer/coder: Abdullah Alakel
FirstColor: #08526d
SecondColor: #ec1c23
*/

/* Start Upper Bar */
.upper-bar {
    background-color: #08526d;
    color: #fff;
    padding: 10px;
}

.upper-bar span {
    color: #bfc6c9;
}

.upper-bar .get-quote {
    display: inline-block;
    border: 1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
}

/* End Upper Bar */


/*Start Navbar*/
.navbar-brand>span {
    font-size: 40px;

}

.navbar-brand span:first-child {
    color: #ec1c23;
    font-weight: bold;
}

.navbar-brand span:last-child {
    color: #08526d;
}

.navbar-nav .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #08526d !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #ec1c23 !important;
}

/*End Navbar*/

/*Start Slider*/
.slider {
    background-color: #ddd;
}

.slider .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: left;


}

.slider .carousel-inner h1 {
    position: absolute;
    color: #fff;
    z-index: 3;
    font-size: 70px;
    max-width: 900px;
    line-height: 1.5;
    left: 100px;
}

.slider .carousel-inner h1 span {
    background-color: #ec1c23;
    display: inline-block;
    padding: 2px 10px;

}

.slider .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
}

.slider .carousel {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .carousel-one {
    background-image: url("../images/1.jpg");
}

.slider .carousel-two {
    background-image: url("../images/2.jpeg");
}

.slider .carousel-three {
    background-image: url("../images/3.jpeg");
}

.slider .carousel-indicators li {
    height: 8px;
    cursor: pointer;
}

/*End Slider*/

/*Start Features*/

.features {
    padding: 50px 0;

}

.features i {
    background-color: #ec1c23;
    color: #fff;
    padding: 12px;
    margin-bottom: 10px;
}

.features h3 {
    color: #ec1c23;
    font-size: 22px;
}

.features p {
    color: #989898;
    margin-bottom: 40px;

}


/*End Features*/

/*start overview*/
.overview {
    padding: 10px;
    background-color: #f0f5f7;
}

.overview h2 {
    margin-top: 25px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}


.overview p {
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}

.overview h4 {
    letter-spacing: 2px;
    font-weight: normal;
    color: #8b8a8a;
    margin-bottom: 30px;
}

.overview button {
    background-color: #ec1c23;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ed1d24;
    margin-bottom: 30px;
}

/*End overview*/

/*Start Featured work*/
.featured-work {
    padding: 100px 0;

}


.featured-work h2 {
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.featured-work p {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
    color: #6a6a6a;
}

.featured-work ul {
    margin-top: 40px;
    margin-bottom: 50px;
}

.featured-work ul li {
    color: #08526d;
    border: 2px solid #08526d;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.featured-work ul li.active,
.featured-work ul li:hover {
    background-color: #ec1c23;
    color: #fff;
    border: 2px solid #ec1c23;
}

.featured-work ul li:hover {
    cursor: pointer;
}

.featured-work .shuffle-imgs .row {
    margin: 0;
}

.featured-work .shuffle-imgs .row .col-md {
    padding: 0;
    transition: all .3s ease-in-out;
}


.featured-work .row img {
    width: 100%;
}

/*End Featured work*/

/*Start Latest Posts*/
.latest-posts {
    padding: 0 0 100px;

}

.latest-posts .card {
    margin-bottom: 30px;
}

.latest-posts h2 {
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.latest-posts .section-description {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 40px;
    color: #6a6a6a;
}

.latest-posts .card .card-title {
    font-size: 20px;
    line-height: 1.5;
    color: #08526d;
}

.latest-posts .card .card-text {
    color: #787878;
    margin-bottom: 10px;
}

.latest-posts .card .card-link {
    color: #ec1c23;
    font-weight: bold;
}


/*End Latest Posts*/

/*Start Testimonials*/
.Testimonials {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../images/5.jpg");
    position: relative;
}

.Testimonials .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
}

.Testimonials .container {
    position: relative;
    z-index: 3;
}

.Testimonials .carousel-caption {
    top: 50%;
    margin-top: -158px;
}

.Testimonials .carousel-caption img {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 100px;
}

.Testimonials .carousel-caption h5 {
    margin-bottom: 5px;
}

.Testimonials .carousel-caption h5+span {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
}

.Testimonials .carousel-indicators li {
    height: 8px;
    cursor: pointer;
}

/*End Testimonials*/

/* Start pricing table */
.pricing-table {
    padding: 100px 0 100px;
    background-color: #f7f7f7;

}

.pricing-table .card {
    margin-bottom: 30px;
}

.pricing-table .card-body {
    padding: 0;
}


.pricing-table h2 {
    margin-top: 25px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-table .section-description {
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 80px;
    color: #6a6a6a;
}

.pricing-table .card .card-title {
    font-size: 25px;
    line-height: 1.5;
    color: #08526d;
    font-size: 25px;
    margin-top: 40px;
}

.pricing-table .card .card-text {
    color: #08526d;
    margin: 30px 0 10px;
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.pricing-table .card .card-text span {
    font-size: 14px;
    text-transform: uppercase;

}

.pricing-table .list-group-item {
    border: none;

}


.pricing-table .card .card-link {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #ec1c23;
    text-transform: uppercase;

}

.pricing-table .card.corporate {
    position: relative;
    top: -15px;
}

.pricing-table .card.corporate .card-text {
    background-color: #ec1c23;
    color: #fff;

}

.pricing-table .card.corporate .card-link {
    background-color: #08526d;

}

/* ENd pricing table */

/* Start why choose us*/

.choose-us img {
    max-width: 100%;
}

.choose-us {}

.choose-us .col-6 {
    padding: 0;
}

.choose-us .col-6:last-child {
    background-color: #08526d;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.choose-us .h1 {
    margin: 40px;
}

.choose-us p {
    margin: 40px;
    line-height: 2;
    font-size: 18px;
}

.choose-us .read-more {
    display: inline-block;
    padding: 6px 20px;
    margin: 0 0 0 40px;
    background-color: #ed1d24;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}


/* End why choose us*/

/* Start Statistics*/
.stats {
    padding: 100px 0;
    color: #08526d;
}

.stats .number {
    display: block;
    font: 50px;
    font-weight: bold;
}

.stats p {
    color: #ed1d24;
    font-size: 20px;

}

.stats .state-box {
    margin-bottom: 40px;
}

/* End Statistics*/

/*Start Contact Us*/

.contact-us {
    padding: 70px 0;
    background-color: #ed1d24;
    color: #fff;
    font-size: 21px;

}

.contact-us p {
    margin: 0;
}

.contact-us a {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 15px 8px;
    text-transform: uppercase;
    font-weight: bold;
}

/*End Contact Us*/

/*Start footer */

.footer {
    padding: 100px 0;

}

.footer .site-info h2 {
    font-size: 50px;
    margin-bottom: 35px;
}

.footer .site-info p {
    line-height: 1.8;
    color: #727272;


}

.footer .site-info a {
    color: #08526d;
    font-size: 15px;
    font-weight: bold;
}

.footer .site-info a::before {
    font-family: "FontAwesome";
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
}

.footer .site-info h2 span:first-child {
    color: #ec1c23;
    font-weight: bold;
}

.footer .site-info h2 span:last-child {
    color: #08526d;
}


.footer .helpful-links h2,
.footer .contact h2 {
    font-size: 20px;
    color: #08526d;
    margin-bottom: 72px;
    margin-top: 12px;
}

.footer .helpful-links ul li::before {
    font-family: "FontAwesome";
    content: "\f054";
    /*from font awesome fa-cheverwon- you must bring this code from font awesome inspect then take the content from the inspect*/
    margin-right: 5px;
    color: #08526d;
    font-size: 12px;
    position: relative;
    top: -1px;
}

.footer .contact ul li {
    margin-bottom: 25px;
}

/*End footer */

/*Start Copyright section*/

.copyright {
    border-top: 1px solid #c0c0c0;
    padding: 20px;
}

.copyright ul {
    margin: 0;
}

.copyright ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 17px;
}


.copyright ul li a {
    color: #777;
    
}
/*End Copyright section*/